<!--<div class="container" *ngIf = "weatherData">
  <div class="juu">
    <img src="../assets/hot.jpg" *ngIf="weatherData.main.temp" alt="">
    <img src="../assets/cold.jpg" *ngIf="weatherData.main.temp" alt="">

    <div class="weather-data">
      <div class="location">{{weatherData.name}}</div>
      <br/>
      <div class="temp">{{weatherData.main.temp | number: '1.0-0'}} °C</div>
    </div>
  </div>

  <div class="chini">
    <div class="info">
      More Info
    </div>
    <div class="infocontainer">
      <div class="icontainer">
        <div class="icont">
          <img src="../assets/coldtemp.jpg">
          <span>min</span>
        </div>
        <div class="iconttwo">
          {{weatherData.main.temp_min | number: '1.0-0'}}°C
        </div>
      </div>

      <div class="icontainer">
        <div class="icont">
          <img src="../assets/hottemp.jpg">
          <span>max</span>
        </div>
        <div class="iconttwo">
          {{weatherData.main.temp_max | number: '1.0-0'}}°C
        </div>
      </div>

      <div class="icontainer">
        <div class="icont">
          <img src="../assets/hum.jpg">
          <span>humidity</span>
        </div>
        <div class="iconttwo">
          {{weatherData.main.humidity}}%
        </div>
      </div>

      <div class="icontainer">
        <div class="icont">
          <img src="../assets/wind.jpg">
          <span>wind</span>
        </div>
        <div class="iconttwo">
          {{weatherData.wind.speed}}km/hr
        </div>
      </div>

    </div>
  </div>
</div>-->


<div class="container">
  <div class="juu">
    <img src="../assets/hot.jpg" *ngIf="14 > 15" alt="">
    <img src="../assets/cold.jpg" *ngIf="14 <= 15" alt="">

    <div class="weather-data">
      <div class="location">Nairobi</div>
      <br/>
      <div class="temp">{{14 | number: '1.0-0'}} °C</div>
    </div>
  </div>

  <div class="chini">
    <div class="info">
      More Info
    </div>
    <div class="infocontainer">
      <div class="icontainer">
        <div class="icont">
          <img src="../assets/coldtemp.jpg">
          <span>min</span>
        </div>
        <div class="iconttwo">
          10°C
        </div>
      </div>

      <div class="icontainer">
        <div class="icont">
          <img src="../assets/hottemp.jpg">
          <span>max</span>
        </div>
        <div class="iconttwo">
          20°C
        </div>
      </div>

      <div class="icontainer">
        <div class="icont">
          <img src="../assets/hum.jpg">
          <span>humidity</span>
        </div>
        <div class="iconttwo">
          77%
        </div>
      </div>

      <div class="icontainer">
        <div class="icont">
          <img src="../assets/wind.jpg">
          <span>wind</span>
        </div>
        <div class="iconttwo">
          11km/hr
        </div>
      </div>

    </div>
  </div>
</div> 

<router-outlet></router-outlet>
